option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "ReplaceWithAppID"
    MASTER_KEY: "ReplaceWithMasterKey"
    FILE_KEY: "ReplaceWithFileKey"
    DATABASE_URI: "ReplaceWithDatabaseURI"
    NODE_ENV: "production"
    SERVER_URL: "http://myappname.elasticbeanstalk.com/parse"
    VERBOSE: "1"
    GCM_SENDER_ID: "ReplaceMe"
    GCM_API_KEY: "ReplaceMe"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"